DATABASE_URL=mysql://[username]:[password]@localhost/marsai

# JWT Secret
JWT_SECRET=votre_cle_de_64_caracteres_ici

# Server
PORT=5001
NODE_ENV=development

# Google OAuth2 Credentials (Replace with your own credentials)
# link to create credentials: https://console.developers.google.com/apis/credentials
GOOGLE_CLIENT_ID=xxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxxxx
YOUTUBE_REFRESH_TOKEN=xxxxxx
GOOGLE_REDIRECT_URI=xxxxxx

# Scaleway S3 Credentials (Replace with your own credentials)
SCALEWAY_ACCESS_KEY=your_scaleway_access_key_here
SCALEWAY_SECRET_KEY=your_scaleway_secret_key_here
SCALEWAY_ENDPOINT=https://s3.fr-par.scw.cloud
SCALEWAY_BUCKET_NAME=your_bucket_name
SCALEWAY_REGION=fr-par
SCALEWAY_FOLDER=your_folder_name